@model IEnumerable<VigCovidApp.ViewModels.SeguimientosViewModel>

@{
    ViewBag.Title = "Seguimiento Trabajador";
    var trabajadorId = Model.ToList()[0].RegistroTrabajadorId;
    var fechasImportantes = @ViewBag.FECHASIMPORTANTES;
}
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    .cart-no {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-weight: 600;
        font-size: 1em;
        /*            background:blue;*/
        color: blue;
        text-align: center;
        top: -4px;
        right: 8px;
    }
    }
</style>
<link href="~/Content/horizontal-timeline.css" rel="stylesheet" />
@*<link href="~/Content/reset.css" rel="stylesheet" />*@
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel">
            <div class="panel widget" style="margin-bottom:0px; ">
                <button id="btn-Regresar-Index" class="btn btn-info" style="position:absolute; z-index:1000"><i class="demo-pli-back"></i> IR A BANDEJA</button>
                <div class="widget-header bg-warning text-center">
                    <h4 class="text-light mar-no pad-top">@ViewBag.INDICADORES.Trabajador</h4>
                    <p class="mar-btm">@ViewBag.INDICADORES.Empresa</p>
                    <p class="mar-btm">@ViewBag.INDICADORES.Email - @ViewBag.INDICADORES.Celular</p>
                </div>
                <div class="widget-body" style="margin-bottom:0px;">
                    <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="~/Assets/profile-photos/1.png">

                    <div class="panel-group accordion" id="demo-acc-info-outline" style="margin-bottom:0px;">
                        <div class="panel panel-bordered panel-info">
                            <!--Accordion title-->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#demo-acc-info-outline" data-toggle="collapse" href="#demo-acd-info-outline-3" class="collapsed" aria-expanded="true">Línea de tiempo</a>
                                </h4>
                            </div>
                            <!--Accordion content-->
                            <div class="panel-collapse collapse" id="demo-acd-info-outline-3" aria-expanded="true">                                                               
                                        <div class="card">
                                            <div class="card-body">
                                                <section class="cd-horizontal-timeline">
                                                    <div class="timeline">
                                                        <div class="events-wrapper">
                                                            <div class="events ">
                                                                <ol id="linea-tiempo">
                                                                    @for (int i = 0; i < fechasImportantes.Count; i++)
                                                                    {
                                                                        if (i == 0)
                                                                        {
                                                                            <li><a href="#0" data-date="@fechasImportantes[i].DateDate" class="selected">@fechasImportantes[i].DateLine</a></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li><a href="#0" data-date="@fechasImportantes[i].DateDate">@fechasImportantes[i].DateLine</a></li>
                                                                        }
                                                                    }
                                                                </ol>
                                                                <span class="filling-line" aria-hidden="true"></span>
                                                            </div>
                                                        </div>
                                                        <ul class="cd-timeline-navigation">
                                                            <li><a href="#0" class="prev inactive">Prev</a></li>
                                                            <li><a href="#0" class="next">Next</a></li>
                                                        </ul>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>

                            </div>
                        </div>
                        <div class="panel panel-bordered panel-info">
                            <!--Accordion title-->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#demo-acc-info-outline" data-toggle="collapse" href="#demo-acd-info-outline-2" class="collapsed" aria-expanded="false">Fechas importantes</a>
                                </h4>
                            </div>
                            <!--Accordion content-->
                            <div class="panel-collapse collapse" id="demo-acd-info-outline-2" aria-expanded="false">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Descripción</th>
                                                <th>Fecha</th>
                                                <th>Días</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabla-fechas-importantes">
                                            <tr>
                                                <td>Inicio Aislamiento/Cuarentena</td>
                                                <td><input type="text" class="form-control fechas" id="dtp-FechaAislaminetoCuarentena-@trabajadorId"></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Inicio de Síntomas</td>
                                                <td><input type="text" class="form-control fechas" id="dtp-FechaInicioSintomas-@trabajadorId"></td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>Fin de Síntomas</td>
                                                <td><input type="text" class="form-control fechas" id="dtp-FechaFinSintomas-@trabajadorId"></td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>Posible Alta</td>
                                                <td><input type="text" class="form-control fechas" id="dtp-FechaPosibleAlta-@trabajadorId"></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-bordered panel-info">
                            <!--Accordion title-->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#demo-acc-info-outline" data-toggle="collapse" href="#demo-acd-info-outline-1" aria-expanded="false" class="">Exámenes</a>
                                </h4>
                            </div>
                            <!--Accordion content-->
                            <div class="panel-collapse collapse in" id="demo-acd-info-outline-1" aria-expanded="false" style="">
                                <div class="panel-body">
                                    <div class="list-group bg-trans">
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <button id="btnModalNuevoExamen" data-toggle="modal" data-target="#modal-examen" class="btn btn-purple"><i class="demo-pli-add"></i> Agregar examen</button>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Tipo Examen</th>
                                                    <th>Resultado</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-examenes">
                                                @foreach (var item in @ViewBag.EXAMENES)
                                                {
                                                <tr>
                                                    <td><a href='#fakelink' class='btn-link'>@item.FechaExamen.ToString("dd/MM/yyyy")</a></td>
                                                    <td>@item.TipoPrueba</td>
                                                    <td>@item.Resultado</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <hr class="new-section-xs">
                <!-- Timeline header -->
                <div class="text-right">
                    <button id="btn-AgregarSeguimiento" class="btn btn-primary">Agregar Seguimiento</button>
                </div>
                <input type="hidden" id="txtRegistroTrabajadoId" value="@ViewBag.REGISTROTRABAJADOR" />
                <!-- Timeline -->
                <!--===================================================-->
                @foreach (var seguimiento in Model)
                {
                <div class="timeline">
                    <div class="timeline-entry">
                        <div class="timeline-stat">
                            <div class="timeline-icon pos-rel">
                                <i class="demo-pli-home icon-3x"></i>
                                <div class="cart-no">@seguimiento.NroSeguimiento</div>
                            </div>
                            <div class="timeline-time cursor-pointer" onclick="CambiarFecha(@seguimiento.SeguimientoId, @seguimiento.RegistroTrabajadorId)">@seguimiento.Fecha</div>
                        </div>
                        <div class="timeline-label">
                            <p class="text-bold"><a href="#" class="text-warning">Síntomas</a></p>
                            <hr class="new-section-xs">

                            <div id="panel-checkbox-sintomas-@seguimiento.SeguimientoId" class="panel-sintomas">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-SensacionFiebre-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.SensacionFiebre>
                                        <label for="chk-SensacionFiebre-@seguimiento.SeguimientoId">Sensación de fiebre</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-Tos-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Tos>
                                        <label for="chk-Tos-@seguimiento.SeguimientoId">Tos</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-DolorGarganta-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.DolorGarganta>
                                        <label for="chk-DolorGarganta-@seguimiento.SeguimientoId">Dolor de garganta</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-DificultadRespiratoria-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.DificultadRespiratoria>
                                        <label for="chk-DificultadRespiratoria-@seguimiento.SeguimientoId">Dificultad respiratoria</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-CongestionNasal-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.CongestionNasal>
                                        <label for="chk-CongestionNasal-@seguimiento.SeguimientoId">Congestion Nasal</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-Cefalea-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Cefalea>
                                        <label for="chk-Cefalea-@seguimiento.SeguimientoId">Cefaléa</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-DolorMuscular-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.DolorMuscular>
                                        <label for="chk-DolorMuscular-@seguimiento.SeguimientoId">Dolor Muscular</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-PerdidaOlfato-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.PerdidaOlfato>
                                        <label for="chk-PerdidaOlfato-@seguimiento.SeguimientoId">Perdida de Olfato</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (seguimiento.NroSeguimiento == 1)
                            {
                        <div class="timeline-label">
                            <p class="text-bold"><a href="#" class="text-warning">Factores de riesgo</a></p>
                            <hr class="new-section-xs">
                            <div id="panel-checkbox-aditional-@seguimiento.SeguimientoId" class="panel-sintomas">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-HipertensionArterial-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.HipertensionArterial>
                                        <label for="chk-HipertensionArterial-@seguimiento.SeguimientoId">Hipertensión Arterial</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-PulmonarCronica-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.PulmonarCronica>
                                        <label for="chk-PulmonarCronica-@seguimiento.SeguimientoId">Enf. Pulmonar Crónica</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-AsmaModeradoSevero-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.AsmaModeradoSevero>
                                        <label for="chk-AsmaModeradoSevero-@seguimiento.SeguimientoId">Asma Moderado/Sev.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-Diabetes-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Diabetes>
                                        <label for="chk-Diabetes-@seguimiento.SeguimientoId">Diabetes</label>
                                    </div>

                                    <div class="col-md-4">
                                        <input id="chk-Mayor65-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Mayor65>
                                        <label for="chk-Mayor65-@seguimiento.SeguimientoId">Mayor de 65 años</label>
                                    </div>

                                    <div class="col-md-4">
                                        <input id="chk-Cancer-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Cancer>
                                        <label for="chk-Cancer-@seguimiento.SeguimientoId">Cáncer</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-CardiovascularGrave-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.CardiovascularGrave>
                                        <label for="chk-CardiovascularGrave-@seguimiento.SeguimientoId">Enf. Cardio. Grave</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-ImcMayor40-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.ImcMayor40>
                                        <label for="chk-ImcMayor40-@seguimiento.SeguimientoId">Imc Mayor a 40</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-TratInmunosupresor-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.TratInmunosupresor>
                                        <label for="chk-TratInmunosupresor-@seguimiento.SeguimientoId">Trat. Inmunosupresor</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input id="chk-HipertensionArterialNoControlada-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.HipertensionArterialNoControlada>
                                        <label for="chk-HipertensionArterialNoControlada-@seguimiento.SeguimientoId">Hiper.Arte.no Controlada</label>

                                    </div>
                                    <div class="col-md-4">
                                        <input id="chk-RenalDialisis-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.RenalDialisis>
                                        <label for="chk-RenalDialisis-@seguimiento.SeguimientoId">Enf. Renal Crónica c/Dialisis</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-label">
                            <p class="text-bold"><a href="#" class="text-warning">Diagnósticos</a></p>
                            <hr class="new-section-xs">
                            <div class="row">
                                <div id="panel-checkbox-Dx-@seguimiento.SeguimientoId" class="panel-sintomas">
                                    <div class="row col-12">
                                        <div class="col-md-6">
                                            <input id="chk-CasoPositivo-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.CasoPositivo>
                                            <label for="chk-CasoPositivo-@seguimiento.SeguimientoId">Caso positivo para COVID-19 (U07.1)</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="chk-CasoSospechoso-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.CasoSospechoso>
                                            <label for="chk-CasoSospechoso-@seguimiento.SeguimientoId">Caso sospechoso de COVID-19 (U07.2)</label>
                                        </div>
                                    </div>
                                    <div class="row col-12">
                                        <div class="col-md-6">
                                            <input id="chk-RinofaringitisAguda-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.RinofaringitisAguda>
                                            <label for="chk-RinofaringitisAguda-@seguimiento.SeguimientoId">Rinofaringitis aguda (J00)</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="chk-ContactoEnfermedades-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.ContactoEnfermedades>
                                            <label for="chk-ContactoEnfermedades-@seguimiento.SeguimientoId">Contacto, exposición a enfermedades transmisibles (Z20.8)</label>
                                        </div>
                                    </div>
                                    <div class="row col-12">
                                        <div class="col-md-6">
                                            <input id="chk-Aislamiento-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Aislamiento>
                                            <label for="chk-Aislamiento-@seguimiento.SeguimientoId">Aislamiento (Z29.0)</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="chk-NeumoniaViral-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.NeumoniaViral>
                                            <label for="chk-NeumoniaViral-@seguimiento.SeguimientoId">Neumonía viral (J12)</label>
                                        </div>
                                    </div>
                                    <div class="row col-12">
                                        <div class="col-md-6">
                                            <input id="chk-Otros-@seguimiento.SeguimientoId" class="magic-checkbox" type="checkbox" @seguimiento.Otros>
                                            <label for="chk-Otros-@seguimiento.SeguimientoId">Otros</label>
                                        </div>
                                        @if (@seguimiento.Otros != "checked")
                                                {
                                        <div class="col-md-6">
                                            <input id="txt-Otros-@seguimiento.SeguimientoId" type="text" class="form-control inputChange" name="name" value="" disabled />
                                        </div>
                                                }
                                                else
                                                {
                                        <div class="col-md-6">
                                            <input id="txt-Otros-@seguimiento.SeguimientoId" type="text" class="form-control inputChange" name="name" value="@seguimiento.OtrosComentar" />
                                        </div>
                                                }

                                    </div>
                                </div>
                            </div>
                        </div>

                            }

                        <div class="timeline-label">
                            <p class="text-bold pad-top"><a href="#" class="text-warning">Estado y comentario diario</a></p>
                            <hr class="new-section-xs">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select id="ddl-TipoEstado-@seguimiento.SeguimientoId" class="selectpicker selectTipoEstado" data-width="95%">
                                        <option value="-1">  </option>
                                        @if (seguimiento.TipoEstadoId == 1)
                                            {
                                        <option value="1" selected>Cuarentena</option>
                                        <option value="2">Hospitalizado</option>
                                        <option value="3">Fallecido</option>
                                        <option value="4">Aislamiento</option>
                                        <option value="5">Alta Epidemiológica</option>
                                            }
                                            else if (seguimiento.TipoEstadoId == 2)
                                            {
                                        <option value="1">Cuarentena</option>
                                        <option value="2" selected>Hospitalizado</option>
                                        <option value="3">Fallecido</option>
                                        <option value="4">Aislamiento</option>
                                        <option value="5">Alta Epidemiológica</option>
                                            }
                                            else if (seguimiento.TipoEstadoId == 3)
                                            {
                                        <option value="1">Cuarentena</option>
                                        <option value="2">Hospitalizado</option>
                                        <option value="3" selected>Fallecido</option>
                                        <option value="4">Aislamiento</option>
                                        <option value="5">Alta Epidemiológica</option>
                                            }
                                            else if (seguimiento.TipoEstadoId == 4)
                                            {
                                        <option value="1">Cuarentena</option>
                                        <option value="2">Hospitalizado</option>
                                        <option value="3">Fallecido</option>
                                        <option value="4" selected>Aislamiento</option>
                                        <option value="5">Alta Epidemiológica</option>
                                            }
                                            else if (seguimiento.TipoEstadoId == 5)
                                            {
                                        <option value="1">Cuarentena</option>
                                        <option value="2">Hospitalizado</option>
                                        <option value="3">Fallecido</option>
                                        <option value="4">Aislamiento</option>
                                        <option value="5" selected>Alta Epidemiológica</option>
                                            }
                                            else
                                            {
                                        <option value="1">Cuarentena</option>
                                        <option value="2">Hospitalizado</option>
                                        <option value="3">Fallecido</option>
                                        <option value="4">Aislamiento</option>
                                        <option value="5">Alta Epidemiológica</option>
                                            }

                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <textarea id="txt-Comentario-@seguimiento.SeguimientoId" placeholder="Ingresar comentario" rows="4" class="form-control" data-width="100%">@seguimiento.Comentario</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                }
                <!--===================================================-->
                <!-- End Timeline -->
            </div>
        </div>
    </div>
</div>


<!--Modal Examen-->
<!--===================================================-->
<div class="modal fade"
     id="modal-examen"
     role="dialog"
     tabindex="-1"
     aria-labelledby="modal-examen"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="pci-cross pci-circle"></i>
                </button>
                <h4 class="modal-title">Registro de Examen</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form id="form-examen">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Fecha</label>
                                    <input type="text" class="form-control" id="dtpFechaExamen" name="validateFechaExamen">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Tipo Examen</label>
                                    <select id="ddl-TipoExamen" class="selectpicker" data-width="80%">
                                        <option value="1">Prueba rápida</option>
                                        <option value="2">Molecular</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Resultado</label>
                                    <select id="ddl-ExamenResultado" class="selectpicker" data-width="95%">
                                        <option value="0">Negativo</option>
                                        <option value="1">No Válido</option>
                                        <option value="2">IgM Positivo</option>
                                        <option value="3">IgG Positivo</option>
                                        <option value="4">IgM e IgG Positivo</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-success" id="btnRegistrarExamen" type="submit">Registrar Examen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Default Bootstrap Modal-->

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="load6">
            <div class="loader"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.flot.min.js"></script>
<script src="~/Scripts/jquery.flot.categories.min.js"></script>
<script src="~/Scripts/jquery.flot.orderBars.min.js"></script>
<script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
<script src="~/Scripts/jquery.flot.resize.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/Scripts/horizontal-timeline.js"></script>
@*<script src="~/Scripts/jquery-2.1.4.js"></script>*@
<script src="~/Scripts/jquery.mobile.custom.min.js"></script>
<script src="~/Scripts/modernizr.js"></script>
<script>

    $(document).ready(function () {

        ListarFechasImportantes();

        $('#txtFechaExamen').datepicker({ autoclose: true });

        $("#btn-AgregarSeguimiento").on("click", function () {

            bootbox.confirm("¿Está seguro de agregar nuevo seguimiento?", function (result) {

                let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();
                if (result) {
                    $.ajax({
                        type: "GET",
                        url: "/MonitoringWorker/NewRegisterMonitoring?id=" + registroTrabajadorId,
                        success: function (data) {
                            window.location = "/MonitoringWorker/RegisterMonitoring?id=" + registroTrabajadorId;
                        },
                        error: function (jqXHR, exception) {
                            alert("Ocurrió un error en la operación")
                        }
                    });
                } else {
                    $.niftyNoty({
                        type: 'danger',
                        icon: 'pli-cross icon-2x',
                        message: 'Se canceló la operación.',
                        container: 'floating',
                        timer: 3000
                    });
                };
            });

        });

        $("#form-examen").submit(function (ev) { ev.preventDefault(); });

        $("#btnRegistrarExamen").on("click", function () {

            if ($("#dtpFechaExamen").val() == undefined) {
                alert("El campo fecha es requerido");
                return;
            }

            let fechaSeguimiento = $("#dtpFechaExamen").val();
            let tipoExamen = $("#ddl-TipoExamen").val();
            let resultadoExamen = $("#ddl-ExamenResultado").val();
            let trabajadorId = $("#txtRegistroTrabajadoId").val();

            var datos = { "FechaExamen": fechaSeguimiento, "TrabajadorId": trabajadorId, "TipoExamen": tipoExamen, "ResultadoExamen": resultadoExamen };

            $.ajax({
                type: "post",
                url: "/examen/crearexamen",
                data: datos,
                success: function (data) {
                    $("#modal-examen").modal("hide");
                    tablaExamenes();
                },
                error: function (jqxhr, exception) {
                    alert("ocurrió un error en la operación")
                }
            });
        });

        $('#modal-examen')
            .on('shown.bs.modal', function () {
                $("#dtpFechaExamen").val(moment(Date.now()).format("DD/MM/yyyy"));
                $('#form-examen').find('[name="dtpFechaExamen"]').focus();
            })
            .on('hidden.bs.modal', function () {
                $('#form-examen').bootstrapValidator('resetForm', true);
            });

        $(".panel-body").on("click", ".panel-sintomas input", function (e) {
            let checkId = $(e.target).attr("id");
            let id = checkId.split('-')[2];
            var labelText = $('label[for=' + checkId + ']').text();

            DisableControlInputOtros(id);

            notificarCambio(labelText);
            SaveChange(id);

        });

        $(".panel-body").on("blur", "textarea", function (e) {
            let textAreaId = $(e.target).attr("id");
            let id = textAreaId.split('-')[2];
            notificarCambio("Comentario");
            SaveChange(id);
        });

        $(".panel-body").on("blur", ".inputChange", function (e) {
            let textOtrosId = $(e.target).attr("id");
            let id = textOtrosId.split('-')[2];
            notificarCambio("Otros");
            SaveChange(id);
        });

        $(".panel-body").on("change", ".selectCalificacion", function (e) {
            let ddlCalificacionId = $(e.target).attr("id");
            let id = ddlCalificacionId.split('-')[2];
            notificarCambio("Calificación");
            SaveChange(id);
        });

        $(".panel-body").on("change", ".ResultadoCovid19", function (e) {
            let ddlResultadoCovid19Id = $(e.target).attr("id");
            let id = ddlResultadoCovid19Id.split('-')[2];
            notificarCambio("Resultado Covid 19");
            SaveChange(id);
        });

        $(".panel-body").on("change", ".fechaResultadoCovid19", function (e) {
            let fechaResultado = $($(e.target).get(0)).attr("id");
            let id = fechaResultado.split('-')[2];
            notificarCambio("Fecha Resultado");
            SaveChange(id);
        });

        $(".panel-body").on("change", ".fechas", function (e) {
            let fechaImportante = $($(e.target).get(0)).attr("id");
            let fechaNombre = fechaImportante.split('-')[1];
            let id = fechaImportante.split('-')[2];
            let fecha = $(this).val();
            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();
            SaveFechaImportante(fechaNombre, fecha, registroTrabajadorId);
            CalcularDias("#"+fechaImportante, fecha);
            notificarCambio("Fecha " + fechaNombre);
            

        });

        $(".panel-body").on("change", ".selectTipoEstado", function (e) {
            let ddlCalificacionId = $(e.target).attr("id");
            let value = $("#" + ddlCalificacionId).val();
            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();
            if (value == 5) {
                bootbox.confirm({
                    message: "¿Está seguro de dar de ALTA?",
                    buttons: {
                        confirm: {
                            label: 'Sí, dar de Alta',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No, cancelar',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            //Actualizar seguimiento
                            let id = ddlCalificacionId.split('-')[2];
                            SaveChange(id);
                            //Actualizar Estado Clinico de trabajador
                            UpdateEstadoClinico();
                            //GENERAR FICHA ALTA...
                            viewAltaMedica(registroTrabajadorId);
                        }

                    }
                });
            } else {
                let id = ddlCalificacionId.split('-')[2];
                notificarCambio("Tipo Estado");
                SaveChange(id);
            }

        });

        $("#btn-Regresar-Index").on("click", function () {
            window.location = "/Home/index";
        });

        function notificarCambio(campo) {
            $.niftyNoty({
                type: 'info',
                icon: 'pli-cross icon-2x',
                message: 'Se  modificó ' + campo,
                container: 'floating',
                timer: 1000
            });
        }

        function SaveFechaImportante(fechaNombre, fecha, registroTrabajadorId){

            var datos = { "TrabajadorId": registroTrabajadorId, "Descripcion": fechaNombre, "Fecha": fecha };
            $.ajax({
                type: "POST",
                url: "/MonitoringWorker/SaveFechaImportante",
                data: datos,
                success: function (data) {
                    ActualizarLineaTiempo();
                },
                error: function (jqXHR, exception) {
                    alert("Ocurrió un error en la operación")
                }
            });
        }

        function UpdateEstadoClinico() {
            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();
            let datos = { "TrabajadorId": registroTrabajadorId };

            $.ajax({
                type: "POST",
                url: "/MonitoringWorker/UpdateEstadoClinico",
                data: datos,
                success: function (data) {
                    //window.location = "/Home/index";
                },
                error: function (jqXHR, exception) {
                    alert("Ocurrió un error en la operación")
                }
            });
        }

        function tablaExamenes() {

            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();

            $.ajax({
                type: "GET",
                url: "/Examen/ListarExamenesTrabajador?trabajadorId=" + registroTrabajadorId,
                success: function (data) {
                    $("#tabla-examenes").empty();
                    var content = "";
                    for (var i = 0; i < data.length; i++) {
                        content += "<tr>";
                        let fecha = moment(data[i].FechaExamen).format("DD/MM/yyyy");
                        content += "<td> <a href='#fakelink' class='btn-link'>" + fecha + "</a></td>";
                        content += "<td>" + data[i].TipoPrueba + "</td>";
                        content += "<td>" + data[i].Resultado + "</td>";
                        content += "</tr>";
                    }
                    $("#tabla-examenes").append(content);
                },
                error: function (jqXHR, exception) {
                    alert("Ocurrió un error en la operación")
                }
            });
        }

        function SaveChange(seguimientoId) {
            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();
            let datos = {};
            if ($("#chk-HipertensionArterial-" + seguimientoId).get(0) != undefined) {
                datos = {
                    "Id": seguimientoId,
                    "RegistroTrabajadorId": registroTrabajadorId,
                    //"ClasificacionId": $("#ddl-Calificacion-" + seguimientoId + " option:selected").val(),
                    "SensacionFiebre": $("#chk-SensacionFiebre-" + seguimientoId).get(0).checked,
                    "Tos": $("#chk-Tos-" + seguimientoId).get(0).checked,
                    "DolorGarganta": $("#chk-DolorGarganta-" + seguimientoId).get(0).checked,
                    "DificultadRespiratoria": $("#chk-DificultadRespiratoria-" + seguimientoId).get(0).checked,
                    "CongestionNasal": $("#chk-CongestionNasal-" + seguimientoId).get(0).checked,
                    "Cefalea": $("#chk-Cefalea-" + seguimientoId).get(0).checked,
                    "DolorMuscular": $("#chk-DolorMuscular-" + seguimientoId).get(0).checked,
                    "PerdidaOlfato": $("#chk-PerdidaOlfato-" + seguimientoId).get(0).checked,
                    "Comentario": $("#txt-Comentario-" + seguimientoId).val(),
                    "ResultadoCovid19": $("#ddl-ResultadoCovid19-" + seguimientoId + " option:selected").val(),
                    "FechaResultadoCovid19": $("#dtp-FechaResultadoCovid19-" + seguimientoId).val(),
                    "TipoEstadoId": $("#ddl-TipoEstado-" + seguimientoId + " option:selected").val(),
                    "HipertensionArterial": $("#chk-HipertensionArterial-" + seguimientoId).get(0).checked,
                    "HipertensionArterialNoControlada": $("#chk-HipertensionArterialNoControlada-" + seguimientoId).get(0).checked,
                    "AsmaModeradoSevero": $("#chk-AsmaModeradoSevero-" + seguimientoId).get(0).checked,
                    "Diabetes": $("#chk-Diabetes-" + seguimientoId).get(0).checked,
                    "Mayor65": $("#chk-Mayor65-" + seguimientoId).get(0).checked,
                    "Cancer": $("#chk-Cancer-" + seguimientoId).get(0).checked,
                    "CardiovascularGrave": $("#chk-CardiovascularGrave-" + seguimientoId).get(0).checked,
                    "ImcMayor40": $("#chk-ImcMayor40-" + seguimientoId).get(0).checked,
                    "RenalDialisis": $("#chk-RenalDialisis-" + seguimientoId).get(0).checked,
                    "PulmonarCronica": $("#chk-PulmonarCronica-" + seguimientoId).get(0).checked,
                    "TratInmunosupresor": $("#chk-TratInmunosupresor-" + seguimientoId).get(0).checked,

                    "CasoPositivo": $("#chk-CasoPositivo-" + seguimientoId).get(0).checked,
                    "CasoSospechoso": $("#chk-CasoSospechoso-" + seguimientoId).get(0).checked,
                    "RinofaringitisAguda": $("#chk-RinofaringitisAguda-" + seguimientoId).get(0).checked,
                    "NeumoniaViral": $("#chk-NeumoniaViral-" + seguimientoId).get(0).checked,
                    "ContactoEnfermedades": $("#chk-ContactoEnfermedades-" + seguimientoId).get(0).checked,
                    "Aislamiento": $("#chk-Aislamiento-" + seguimientoId).get(0).checked,
                    "Otros": $("#chk-Otros-" + seguimientoId).get(0).checked,
                    "OtrosComentar": $("#txt-Otros-" + seguimientoId).val()
                }
            } else {
                datos = {
                    "Id": seguimientoId,
                    "RegistroTrabajadorId": registroTrabajadorId,
                    //"ClasificacionId": $("#ddl-Calificacion-" + seguimientoId + " option:selected").val(),
                    "SensacionFiebre": $("#chk-SensacionFiebre-" + seguimientoId).get(0).checked,
                    "Tos": $("#chk-Tos-" + seguimientoId).get(0).checked,
                    "DolorGarganta": $("#chk-DolorGarganta-" + seguimientoId).get(0).checked,
                    "DificultadRespiratoria": $("#chk-DificultadRespiratoria-" + seguimientoId).get(0).checked,
                    "CongestionNasal": $("#chk-CongestionNasal-" + seguimientoId).get(0).checked,
                    "Cefalea": $("#chk-Cefalea-" + seguimientoId).get(0).checked,
                    "DolorMuscular": $("#chk-DolorMuscular-" + seguimientoId).get(0).checked,
                    "PerdidaOlfato": $("#chk-PerdidaOlfato-" + seguimientoId).get(0).checked,
                    "Comentario": $("#txt-Comentario-" + seguimientoId).val(),
                    "ResultadoCovid19": $("#ddl-ResultadoCovid19-" + seguimientoId + " option:selected").val(),
                    "FechaResultadoCovid19": $("#dtp-FechaResultadoCovid19-" + seguimientoId).val(),
                    "TipoEstadoId": $("#ddl-TipoEstado-" + seguimientoId + " option:selected").val()
                }
            }


            $.ajax({
                type: "POST",
                url: "/MonitoringWorker/UpdateSeguimiento",
                data: datos,
                success: function (data) {
                    //window.location = "/MonitoringWorker/RegisterMonitoring?id=" + registroTrabajadorId;
                },
                error: function (jqXHR, exception) {
                    alert("Ocurrió un error en la operación")
                }
            });
        }

        function BloquearSintomas(id) {

            let tipoSeguimientoId = $("#ddl-TipoSeguimiento-" + id + " option:selected").val();

            if (tipoSeguimientoId == 1) {
                $("#panel-checkbox-sintomas-" + id).removeClass("disabledbutton");
            }
            else {
                $("#panel-checkbox-sintomas-" + id).addClass("disabledbutton");

                $("#chk-SensacionFiebre-" + id).prop('checked', false);
                $("#chk-Tos-" + id).prop('checked', false);
                $("#chk-DolorGarganta-" + id).prop('checked', false);
                $("#chk-DificultadRespiratoria-" + id).prop('checked', false);
            }
        }

        function CalcularDias(idControl, fecha) {
            let fechaActual = moment(Date.now()).format("DD/MM/yyyy");
            let dias = restaFechas(fecha, fechaActual );
            if (dias < 0) {
                dias = dias * (-1)
            }
            $(idControl).parent().next('td').html(dias);
        }

        function ListarFechasImportantes() {
            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();
            $.ajax({
                type: "GET",
                url: "/MonitoringWorker/ListarFechasImportabtes?idTrabajador=" + registroTrabajadorId,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Descripcion == 'FechaFinSintomas') {
                            let idControl = $("#dtp-FechaFinSintomas-" + registroTrabajadorId);
                            CalcularDias(idControl, moment(data[i].Fecha).format("DD/MM/yyyy"));
                            idControl.val(moment(data[i].Fecha).format("DD/MM/yyyy"));
                        } else if (data[i].Descripcion == 'FechaInicioSintomas') {
                            let idControl = $("#dtp-FechaInicioSintomas-" + registroTrabajadorId);
                            CalcularDias(idControl, moment(data[i].Fecha).format("DD/MM/yyyy"));
                            idControl.val(moment(data[i].Fecha).format("DD/MM/yyyy"));
                        } else if (data[i].Descripcion == 'FechaAislaminetoCuarentena') {
                            let idControl = $("#dtp-FechaAislaminetoCuarentena-" + registroTrabajadorId);
                            CalcularDias(idControl, moment(data[i].Fecha).format("DD/MM/yyyy"));
                            idControl.val(moment(data[i].Fecha).format("DD/MM/yyyy"));
                        } else if (data[i].Descripcion == 'FechaPosibleAlta') {
                            let idControl = $("#dtp-FechaPosibleAlta-" + registroTrabajadorId);
                            CalcularDias(idControl, moment(data[i].Fecha).format("DD/MM/yyyy"));
                            idControl.val(moment(data[i].Fecha).format("DD/MM/yyyy"));
                        }
                    }
                },
                error: function (jqXHR, exception) {
                    alert("Ocurrió un error en la operación")
                }
            });
        }

        function ActualizarLineaTiempo() {
            let registroTrabajadorId = $("#txtRegistroTrabajadoId").val();

            $.ajax({
                type: "GET",
                url: "/MonitoringWorker/GetFechasImportantesJson?trabajadorId=" + registroTrabajadorId,
                success: function (data) {
                    $(".cd-horizontal-timeline").empty();
                    var content = "";

                    content += "<div class='timeline'>";
                    content += "<div class='events-wrapper'>";
                    content += "<div class='events '>";
                    content += "<ol id='linea-tiempo'>";
                    for (var i = 0; i < data.length; i++) {
                        if (i == 0) {
                            content += "<li><a href='#0' data-date='" + moment(data[i].Fecha).format("DD/MM/yyyy") + "' class='selected'>" + data[i].DateLine + "</a></li>";
                        } else {
                            content += "<li><a href='#0' data-date='" + moment(data[i].Fecha).format("DD/MM/yyyy") + "'>" + data[i].DateLine + "</a></li>";
                        }
                    }
                    content += "</ol>";
                    content += "<span class='filling-line' aria-hidden='true'></span>";
                    content += "</div>";
                    content += "</div>";
                    content += "<ul class='cd-timeline-navigation'>";
                    content += "<li><a href='#0' class='prev inactive'>Prev</a></li>";
                    content += "<li><a href='#0' class='next'>Next</a></li>";
                    content += "</ul>";
                    content += "</div>";
                    

                 
                    $(".cd-horizontal-timeline").append(content);

                    initTimeline($(".cd-horizontal-timeline"));
                },
                error: function (jqXHR, exception) {
                    alert("Ocurrió un error en la operación")
                }
            });
        }

    });

    $(document).on('nifty.ready', function () {
        $('#FechaInicioSintomas .input-group.date').datepicker({ autoclose: true, format: 'dd/mm/yyyy' });
        $("#dtpFechaExamen").datepicker({ autoclose: true, format: 'dd/mm/yyyy' })

        $(".fechas").datepicker({ autoclose: true, format: 'dd/mm/yyyy' });

        var faIcon = {
            valid: 'fa fa-check-circle fa-lg text-success',
            invalid: 'fa fa-times-circle fa-lg',
            validating: 'fa fa-refresh'
        }

        $('#form-examen').bootstrapValidator({
            excluded: ':disabled',
            feedbackIcons: faIcon,
            fields: {
                validateFechaExamen: {
                    validators: {
                        notEmpty: {
                            message: 'La fecha es requerido'
                        }
                    }
                }
            }
        }).on('success.field.bv', function (e, data) {
            var $parent = data.element.parents('.form-group');

            // Remove the has-success class
            $parent.removeClass('has-success');
        });
    });

    function CambiarFecha(idSeguimiento, idTrabajador) {
        bootbox.prompt({
            title: "Actualizar fecha de seguimiento",
            inputType: 'date',
            callback: function (result) {

                if (result) {
                    var datos = { "SeguimientoId": idSeguimiento, "Fecha": result, "TrabajadorId": idTrabajador };
                    $.ajax({
                        type: "POST",
                        url: "/MonitoringWorker/UpdateFechaSeguimiento",
                        data: datos,
                        success: function (data) {
                            if (data == "") {
                                alert("Conflicto de fechas");
                            }
                            window.location = "/MonitoringWorker/RegisterMonitoring?id=" + idTrabajador


                        },
                        error: function (jqXHR, exception) {
                            alert("Ocurrió un error en la operación")
                        }
                    });
                } else {
                    $.niftyNoty({
                        type: 'danger',
                        icon: 'pli-cross icon-2x',
                        message: 'Se canceló la operación.',
                        container: 'floating',
                        timer: 3000
                    });
                };

            }
        });
    }

    function DisableControlInputOtros(id) {
        if ($("#chk-Otros-" + id).val() == undefined) return;

        var val = $("#chk-Otros-" + id).get(0).checked;
        if (val) {
            $("#txt-Otros-" + id).prop("disabled", false);
        } else {
            $("#txt-Otros-" + id).prop("disabled", true);
            $("#txt-Otros-" + id).val('');
        }

    }

    function viewAltaMedica(idTrabajador) {
        window.location.href = "/MonitoringWorker/ExportAltaMedica?id=" + idTrabajador;
    }

</script>